.portfolio__link {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}