.profile__info {
  display: flex;
  flex-direction: column;
  /* gap: 17px; */
  width: 410px;
  justify-content: space-between;
  margin: 123px auto 220px auto;
}

/* 
@media (max-width: 768px) {
  .error-page__error-text {
    font-size: 12px;
    line-height: 14.52px;
  }
} */

@media (max-width: 480px) {
  .profile__info {
    width: 260px;
  }
}