.element__unsave-button {
  /* visibility: hidden;
  display: none; */
  background-image: url(../../../images/nsave-button.svg);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.element__unsave-button:hover {
  opacity: 0.6;
  transition: 0.2s ease-out;
}

