.element__image {
  width: 364px;
  height: 203px;
  object-fit: cover;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 850px) {
  .element__image {
    width: 339px;
    height: 190px;
  }
}

@media (max-width: 480px) {
  .element__image {
    width: 300px;
    height: 168px;
  }
}