.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
}

@media (max-width: 480px) {
  .footer__bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
