.footer__project-name {
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 400;
  color: #A0A0A0;
  align-self: center;
  padding-top: 79px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

/* @media (max-width: 879px) {
  .footer__project-name {
    padding-left: 19px;
    font-size: 14px;
    line-height: 16.94px;
  }
} */

@media (max-width: 480px) {
  .footer__project-name {
    font-size: 12px;
    line-height: 14.52px;
  }
}
