.error-page__link-back {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color:#2BE080;
  text-decoration: none;
}


@media (max-width: 480px) {
  .error-page__link-back {
    font-size: 12px;
    line-height: 14.52px;
  }
}