.about-me__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  flex-grow: 1;
}


/* @media (max-width: 768px) {
  .about-me__container  {
    gap: 49px;
  }
} */

@media (max-width: 600px) {
  .about-me__container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 40px;
  }
}