.portfolio__block-link {
  display: flex;
  flex-direction: row;
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
  max-width: 1140px;
  width:100vw;
  justify-content: space-between;
  margin: 0 ;
  text-decoration: none;
}

.portfolio__block-link:nth-child(3) {
  padding-bottom: 0;
  border-bottom: none;
}

@media (max-width: 1280px) {
  .portfolio__block-link {
    /* margin: 0 40px; */
    width: 100%;
  }
}

@media (max-width: 768px) {
  .portfolio__block-link {
    /* margin: 0 20px; */
    width:100%;
  }
}

@media (max-width: 320px) {
  .portfolio__block-link {
    /* margin: 0 14px; */
    width:100%;
  }
}