.profile{
  display: flex;
  flex-direction: column;
  margin: 74px auto 0 auto;
}

/* @media (max-width: 768px) {
  .error-page__error-text {
    font-size: 12px;
    line-height: 14.52px;
  }
}

@media (max-width: 480px) {
  .error-page__error-text {
    font-size: 12px;
    line-height: 14.52px;
  }
} */