.techs__title {
  display: flex;
  justify-items: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

/* @media (max-width: 768px) {
  .techs__title  {
    max-width: 768px;
  }
} */

@media (max-width: 480px) {
  .techs__title  {
    font-size: 30px;
    line-height: 36.31px;
  }
}