.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 70px; */
}

@media (max-width: 1280px) {
  .portfolio {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    margin: 0 20px;
  }
}

@media (max-width: 320px) {
  .portfolio {
    margin: 0 14px;
  }
}