.content__header {
  max-width: 1140px;
  margin: 100px auto 0 auto;
  width: 100vw;
}

/* @media (max-width: 768px) {
  .content__header {
    margin: 0 50px;
  }
} */


@media (max-width: 1280px) {
  .content__header {
      /* margin: 100px 40px; */
      width: 100%;
  }
}

@media (max-width: 768px) {
  .content__header {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .content__header {
    width: 100%;
  }
} 