.movies__finder {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin-top: 70px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  justify-content: center;
}

@media (max-width: 566px) {
  .movies__finder {
    max-width: 500px;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    /* flex-wrap: wrap; */
  }
}