.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
}

.header__text:hover{
  opacity: 0.6;
}

@media (max-width: 480px) {
  .header__login {
    font-size: 10px;
    line-height: 16px;
  }
}