.header__burger-menu {
  display: none;
  /* background-image: url(../../../images/burger-menu.svg); */
  width: 44px;
  height: 44px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__burger-menu:hover{
  opacity: 0.6;
}

@media (max-width: 767px) {
  .header__burger-menu {
    display: flex;
  }
}

@media (max-width: 320px) {
  .header__burger-menu {
    display: flex;
    width: 40px;
    height: 43px;
  }
}