.menu__link {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.menu__link:hover {
  border-bottom: 1px solid #000000;
}


