.auth__button {
  width: 396px;
  color: #FFFFFF;
  background-color: #2BE080;
  font-size: 14px;
  line-height: 16.95px;
  font-weight: 500;
  margin: 69px auto 16px auto;
  border: none;
  border-radius: 2px;
  min-height: 45px;
  text-align: center;
  cursor: pointer;
}

.auth__button:hover {
  opacity: 0.8;
}

/* @media (max-width: 767px) {
  .auth__button {
    max-width: 260px;
    height: 45px;
    margin: auto;
    font-size: 12px;
    line-height: 14.52px;
  }
} */

@media (max-width: 480px) {
  .auth__button {
    width: 260px;
    text-align: center;
    /* margin: 69px  16px; */
  }
}