.auth__input {
  display: flex;
  margin: 0;
  gap: 24px 24px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  border-bottom: 1px solid #E8E8E8;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .auth__input {

  }
}